{% extends "base/base.html" %} {% block content %}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top  ">
    <nav class="container-fluid ">
        <a href="{% url 'index' %}" class="navbar-brand navbar-left mb-2 text-warning ">NotesApp </a> {%if request.user.is_authenticated %}
        <h6 class="text-warning mb-1  ">Logged in as {{request.user}}</h6>
        {% else %}
        <h6 class="text-warning mb-1 ">You are not logged in</h6>
        {% endif %}
        <div class="header">

        </div class="text-primary"> {%if request.user.is_authenticated %}
        <a href="{%url 'logout' %}"><button type="button" class="btn btn-warning">Logout</button></a> {% else %}
        <a href="{% url 'login' %}"> <button type="button" class="btn btn-primary">Login</button></a> {% endif %}

    </nav>
    </div>{% endblock %}